.comment {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    background-color: antiquewhite;
    padding: 0.1rem;
}

.user {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.content {
    padding: 0.2rem;
}

.text-blue {
    color: #2288ff;
}

.hidden {
    display: none;
}

textarea {
    border: none;
    resize: none;
    width: 100%;
}

textarea:disabled {
    background-color: transparent;
}